{% extends 'base.html' %}

{% block content %}
    <div class="post">
        
        <div class="row">
	        <div class="col-md-12">
		        <h1 class="text-center">{{ craftpost.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                  <p>Author: {{ craftpost.author }}</p>
            </div>
            
			    {% if craftpost.published_date %}
                <div class="col-md-6 text-right">
	                {{ craftpost.published_date }}
                </div>
                {% else %}
                <div class="col-md-6 text-right">
                    {% if request.user == craftpost.author or user.is_superuser %}
                        <a class="btn btn-default" href="{% url 'crafts.views.craft_publish' pk=craftpost.pk %}">Publish</a>
                 </div>
                    {% endif %}
                {% endif %}
        </div>  
        <div class="row">
            <div class="col-md-12 center-block">
                {%if craftpost.photo %} <img class = "img-responsive img-rounded craftimage center-block" src="{{ craftpost.photo.url }}">  {% endif %}
                <p>{{ craftpost.text|linebreaks }}</p>
                {% if craftpost.link %}
                <a href="{{ craftpost.link }}"> {{craftpost.link}}</a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated and request.user == craftpost.author %}
        <div class="row">
            <div class="col-md-6">
                <div class="halfwidth center-block">
                    <a class="btn btn-info" href="{% url 'crafts.views.craft_edit' pk=craftpost.pk %}"><span class=" glyphicon glyphicon-pencil"> Edit </span></a>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="halfwidth center-block">
                    <a class="btn btn-danger " href="{% url 'craft_remove' pk=craftpost.pk %}"><i class="fa fa-times"> Delete</i></a>
                </div>
            </div>
        </div>
         {% endif %}
                <hr>
        <div class="row">
            <div class="col-md-6">
               <p> <a class="btn btn-default" href="{% url 'add_comment_to_craft' pk=craftpost.pk %}">Add comment</a></p>
                {% for comment in craftpost.comments.all %}
                {% if  comment.approved_comment %}
                     <div class="comment">
                      <div class="date text-right">{{ comment.created_date }}</div>
                        {% if user.is_superuser %}
                            <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% elif request.user == comment.author %}
                            <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        
                        {% endif %}
                        <p><strong>{{ comment.author }}</strong></p>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                    <hr>  
                {% elif not comment.approved_comment %}
                    {% if request.user == comment.author or user.is_superuser %}
                    <div class="comment">
                        <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% if user.is_superuser %}
                        <a class="btn btn-default pull-right" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %} <!--endif for superuser-->
                        <p>Hi, <strong>{{ comment.author }}</strong></p>
                        <p>Your comment is pending approval:</p>
                      <div class="date text-right">{{ comment.created_date }}</div>
                        <p>{{ comment.text|linebreaks }}</p>
                        <hr>
                    </div><!--end comment div-->
                    {% endif %}<!--endif for auth user or superuser -->
                {% endif %}<!--endif for not comment-->
                 
                {% empty %}
                <p>No comments here yet! What do you think?</p>
                {% endfor %}           
            </div><!--close col-me-12-->
        </div><!--close row-->
    </div><!--close post-->
    
{% endblock %}