{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            
            <h1 class="text-center">Crafts</h1>
            
        </div>
    </div>
    <hr>

{% for craftpost in craftposts %} 
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
    {% include "_post.html" %}

{% elif not forloop.counter0|divisibleby:2 %}
    {% include "_post.html" %}
 </div>  <!--end row  -->
{% endif %} {% if forloop.last and forloop.counter0|divisibleby:2%}
<!--closing the row if there isn't a second col in the row  -->
 </div> 
{% endif %} 
    {% empty %}
    <div class="row">
        <div class="col-md-12 text-center">
        {% if user.is_authenticated %}
        <div class="post">
            <h1>No posts yet. Why not write one?!</h1>
            <div class="posttitle">
            <a href="/new"><h1> Add post</h1></a>

            </div>
        </div>
        {% else %}
            <div class="post">
                <h1>No posts yet. Why not register and write one?!</h1>
                <div class="posttitle">
                <a href="/register"><h1> Register</h1></a>
            </div>
        </div>
        
        {% endif %}
    </div>
    </div>
    {% endfor %}

     <!--pagination  -->
  {% if craftposts.has_other_pages %}
  <ul class="pagination">
    {% if craftposts.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in craftposts.paginator.page_range %}
      {% if craftposts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if craftposts.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}