{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            
            <h1 class="text-center">My favorite crafts</h1>
            
        </div>
    </div>
    <hr>
    {% for craftpost in craftposts %}
        <div class="post">
           <div class="row">
                <div class="col-md-12">
                    <h1><a href="{% url 'craft_detail' pk=craftpost.pk %}">{{ craftpost.title }}</a></h1>
                    <p>Author: {{ craftpost.author }}</p>

                    <div class="date text-right">
                    <p> Published: {{ craftpost.published_date }}<!--|date:'m-d-Y' --></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {%if craftpost.photo %} 
                    <img class = "img-responsive img-rounded craftimage" src="{{craftpost.photo.url}}">  
                    {% endif %}
                    <p>{{ craftpost.text|linebreaks|truncatechars:200  }}</p>
                    <a href="{% url 'crafts.views.craft_detail' pk=craftpost.pk %}">Comments: {{ craftpost.approved_comments.count }}</a>
                    {% if user.is_superuser %}

                    Pending: {{ craftpost.unapproved_comments.count  }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <hr>
{% endblock %}