{% extends 'base.html' %}

{% block content %}
<div class="postlanding">
    <div class="row landrow">
	    <div class="col-md-12 ">
	    <p class="landtitle text-center"> Crafts & stuff</p>
	    </div>
	</div>
	{% if not user.is_authenticated %}
	<div class="row buttonrow1">
		<div class="col-md-12">
			
		    <a href="{% url 'django.contrib.auth.views.login' %}" class="username-menu"><button type="button" class="btn btn-danger center-block">Login</button>
		    </a>
	    </div>
	    <div class="row buttonrow">
		    <div class="col-md-12 ">
		    	<a href= "/register"><button type="button" class="btn btn-primary center-block">Sign-up</button></a>
		    </div>
		</div>
  	</div>
  	{% endif %}
  </div>
{% endblock %}