{% extends 'base.html' %}

{% block content %}
<div class="postlanding">
    <div class="row landrow">
	    <div class="col-md-12 col-lg-12">
	    <p class="landtitle text-center"> Crafts & stuff</p>
	    </div>
	</div>
	{% if not user.is_authenticated %}
	<div class="row buttonrow1">
		<div class="col-md-12 col-lg-12">
			<div class="halfwidth center-block">
				<a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-danger" href="{% url 'accounts:login' %}">Login</button></a>
			</div>
	    </div>
	</div>
	    <div class="row buttonrow">
		    <div class="col-md-12 col-lg-12">
			    <div class="halfwidth center-block">
			    	<!-- <a href= ""><button type="button" class="btn btn-primary center-block">Sign-up</button></a> -->
			    </div>
		    </div>
		</div>
  	{% elif user.is_autheticated %}
  	{% for foodpost in foodposts %}
    
        {% if forloop.last %}
           <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="postmini">
                        {%if foodpost.photo %} 
                        <img class = "img-responsive img-rounded foodimage center-block" src="{{foodpost.photo.url}}">  
                        {% endif %}
                        <h1 class="posttitle text-center"><a href="{% url 'crafts:food_detail' pk=foodpost.pk %}">{{ foodpost.title }}</a></h1>
                        <div class="row">
                        <div class="col-md-6 col-lg-6">Author: {{ foodpost.author }}</div>
                        
                        <div class="col-md-6 col-lg-6"> Published: {{ foodpost.published_date|date:'m-d-Y' }}<!--|date:'m-d-Y' --></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                            <p>{{ foodpost.text|linebreaks|truncatechars:100  }}</p>
                            </div>
                        </div>
                          <hr>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                            <a href="{% url 'crafts:craft_detail' pk=foodpost.pk %}" class="commenta">Comments: {{ foodpost.approved_comments.count }}</a>
                            </div>
                        {% if user.is_superuser %}
                        
                            <div class="col-md-6 col-lg-6">
                            Pending: {{ foodpost.unapproved_comments.count  }}
                            </div>

                        {% endif %}
                        </div>

                    </div>
                </div>
                {% endif %}

            {% endfor %}
        {% for craftpost in craftposts %}
        {% if forlooop.last %}
                <div class="col-md-6 col-lg-6">
                    <div class="postmini">
                        {%if craftpost.photo %} 
                        <img class = "img-responsive img-rounded craftimage center-block" src="{{craftpost.photo.url}}">  
                        {% endif %}
                        <h1 class="posttitle text-center"><a href="{% url 'crafts:craft_detail' pk=craftpost.pk %}">{{ craftpost.title }}</a></h1>
                        <div class="row">
                        <div class="col-md-6 col-lg-6">Author: {{ craftpost.author }}</div>
                        
                        <div class="col-md-6 col-lg-6"> Published: {{ craftpost.published_date|date:'m-d-Y' }}<!--|date:'m-d-Y' --></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                            <p>{{ craftpost.text|linebreaks|truncatechars:100  }}</p>
                            </div>
                        </div>
                          <hr>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <a href="{% url 'crafts:craft_detail' pk=craftpost.pk %}" class="commenta">Comments: {{ craftpost.approved_comments.count }}</a>
                            </div>
                             {% if user.is_superuser %}
                            <div class="col-md-6 col-lg-6">
                                Pending: {{ craftpost.unapproved_comments.count  }}
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                </div>
                
                {% endif %}
                {% endfor %}
                {% endif %}
  </div>
{% endblock %}