{% extends "base.html" %}


{% block content %}
{% if not user.is_authenticated %}

{% if form.errors %}
<div class="row">
    <div class="col-md-12">
        <p> There's a problem with your registration, please <a href="mailto:rachell.calhoun@gmail.com">Contact us! </a>Sorry for the inconvenience!</p>
    </div>
</div>
{% endif %}


<form method="post" action="{% url 'accounts.views.register' %}">
        {% csrf_token %}

<div class="row">
        <div class="center-block col-md-4 text-center post">
           
                <h4 class="">{{form.username.label_tag}}</h4>
                    
                <h4> {{form.username}}</h4>
         
                <h4 class="">{{form.email.label_tag}}</h4>
                <h4> {{form.email}}</h4>
                    
                
                <h4 class="">{{form.password1.label_tag}}</h4>
                <h4>{{form.password1}}</h4>
                    
                <h4 class="">{{form.password2.label_tag}}</h4>
                <h4>{{form.password2}}</h4>
                <div class="text-right">
                <input type="submit" value="sign-up" />
                <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
</div>
</form>

{% else %}
<div class="post">
<div class="row">
    <div class="col-md-12">
        <h1 class="alreadyreg">You're already registered! You rock!</h1>
    </div>
</div>
</div>
{% endif %}
            
{% endblock %}
