{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% for userprofile in userprofiles %}
 {% if forloop.counter0|divisibleby:2 %}
<div class="row">
    <div class="col-md-6">

        <div class="postuser">
            <div class="row imagerow">
            <a href="{% url 'accounts:user_profiles' userprofile.id %}">
    	{%if userprofile.picture %} <img class = "img-responsive img-rounded profileimage center-block" src="{{ userprofile.picture.url }}">  
        {% else %}
        <img class = "img-responsive img-rounded profileimage center-block" src="{% static 'img/profilepic.png' %}">
        {% endif %}
        </div>
    		<div class="row">
                <div class="col-md-6">
                
                    <p>Name: {{ userprofile.user.username }}</p></a>
                </div>
                <div class="col-md-6">
                    <p><a href="{% url 'postman:write' userprofile.user.username %}"><i class="fa fa-envelope-o"></i> {{ userprofile.user.username }}</a></p>
                 </div>
            </div>
            {% if userprofile.location %}<p>Location: {{ userprofile.location }}</p>{% endif %}
            {% if userprofile.hobby %}<p>Hobby: {{userprofile.hobby}}</p>{% endif %}
    	</div>
    </div>
    {% elif not forloop.counter0|divisibleby:2 %}
    <div class="col-md-6">
      <div class="postuser">
      <div class="row imagerow">
      <a href="{% url 'accounts:user_profiles' userprofile.id %}">
        {%if userprofile.picture %} <img class = "img-responsive img-rounded profileimage center-block" src="{{ userprofile.picture.url }}">  
        {% else %}
        <img class = "img-responsive img-rounded profileimage center-block" src="{% static 'img/profilepic.png' %}"> 
        {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
            <p>Name: {{ userprofile.user.username }}</p></a>
            </div>
            <div class="col-md-6">
            <p><a href="{% url 'postman:write' userprofile.user.username %}"><i class="fa fa-envelope-o"></i> {{ userprofile.user.username }}</a></p>
             </div>
        </div>
            {% if userprofile.location %}<p>Location: {{ userprofile.location }}</p>{% endif %}
            {% if userprofile.hobby %}<p>Hobby: {{userprofile.hobby}}</p>{% endif %}
    </div>
    </div>
    </div>
    {% endif %}
    {% if forloop.last and forloop.counter0|divisibleby:2%}
                
                    
    </div>
    {% endif %}
    {% endfor %}
    <!--pagination  -->
  {% if userprofiles.has_other_pages %}
  <ul class="pagination">
    {% if userprofiles.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in userprofiles.paginator.page_range %}
      {% if userprofiles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if userprofiles.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
  {% endblock %}