{% extends 'base.html' %}

{% block content %}

{% for userprofile in userprofiles %}
 {% if forloop.counter0|divisibleby:2 %}
<div class="row">
    <div class="col-md-6">

        <div class="postuser">
        <a href="{% url 'user_profiles' pk=userprofile.pk %}">
    	{%if userprofile.picture %} <img class = "img-responsive img-rounded profileimage center-block" src="{{ userprofile.picture.url }}">  {% endif %}
    		<div class="row">
                <div class="col-md-6">
                    <p>Name: {{ userprofile.user.username }}</p>
                </div></a>
                <div class="col-md-6">
                    <p><a href="{% url 'postman:write' userprofile.user.username %}">Write to {{ userprofile.user.username }}</a></p>
                 </div>
            </div>
            {% if userprofile.location %}<p>Location: {{ userprofile.location }}</p>{% endif %}
            {% if userprofile.hobby %}<p>Hobby: {{userprofile.hobby}}</p>{% endif %}
    	</div>
    </div>
    {% elif not forloop.counter0|divisibleby:2 %}
    <div class="col-md-6">
      <div class="postuser">
        {%if userprofile.picture %} <img class = "img-responsive img-rounded profileimage center-block" src="{{ userprofile.picture.url }}">  {% endif %}
        <div class="row">
            <div class="col-md-6">
            <p>Name: {{ userprofile.user.username }}</p>
            </div>
            <div class="col-md-6">
            <p><a href="{% url 'postman:write' userprofile.user.username %}">Write to {{ userprofile.user.username }}</a></p>
             </div>
        </div>
            {% if userprofile.location %}<p>Location: {{ userprofile.location }}</p>{% endif %}
            {% if userprofile.hobby %}<p>Hobby: {{userprofile.hobby}}</p>{% endif %}
    </div>
    </div>
    </div>
    {% endif %}
    {% if forloop.last and forloop.counter0|divisibleby:2%}
                
                    
    </div>
    {% endif %}

   
    {% endfor %}
  
  {% endblock %}