{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1> {{ userprofile.user.username}}'s Profile</h1>
    </div>
</div>
<div class="post">

    <div class="row">
        <div class="col-md-6">
            {% if userprofile.picture %} <img class="img-responsive img-rounded profileimage center-block" src="{{ userprofile.picture.url }}">            {% else %}
            <img class="img-responsive img-rounded profileimage center-block" src="{% static 'img/profilepic.png' %}"> 
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3>Name: {{ userprofile.user.username }}</h3>
                    {% if userprofile.location %}
                    <h3>Location: {{ userprofile.location }}</h3>{% endif %} {% if userprofile.hobby %}
                    <h3>Hobby: {{userprofile.hobby}}</h3>{% endif %}
                </div>
                {% if request.user != userprofile.user %}
                <div class="col-md-6">
                    <h3 class="text-right"><a href="{% url 'postman:write' userprofile.user.username %}"><i class="fa fa-envelope-o"></i> Write to {{ userprofile.user.username }}</a></h3>
                </div>
            </div>
            {% else %}
            <div class="col-md-6">
                <h3 class="text-right "><a class="white" href="/password_change"><i class="fa fa-lock"></i> Change Password</a></h3>
                <h3 class="text-right"><a class="white" href="/editprofile"><i class="fa fa-pencil"></i> Edit Profile</a></h3>

            </div>
        </div>
        {% endif %}
    </div>

</div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h1> {{ userprofile.user.username}}'s Posts</h1>
    </div>
</div>
{% for craftpost in craftposts %} 
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
    {% include "_post.html" %}

{% elif not forloop.counter0|divisibleby:2 %}
    {% include "_post.html" %}
 </div>  <!--end row  -->
{% endif %} {% if forloop.last and forloop.counter0|divisibleby:2%}
<!--closing the row if there isn't a second col in the row  -->
 </div> 
{% endif %} 
    {% empty %}
<hr>
<div class="post">
    <h1 class="text-center"> No posts yet!</h1>
</div>
{% endfor %}
{% include "_craft_pagination.html" %}
{% endblock %}