/*body {
    font-family: 'Lato',sans-serif;
    color: #747784;
    font-weight: 400;
    
}*/
html {
  position: relative;
  min-height: 100%;
}
body { 
    background: url("https://pixabay.com/static/uploads/photo/2015/05/01/10/26/knitting-748168_960_720.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 1.5em;
    margin-bottom: 4em;

}


/*override bootstrap navbar settings: */
/*navbar1 settings: */
.navbar1 .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style:bold;
}
/*navbar1 font settings: */
.navbar1 .navbar-brand {
    color: white;
}
/*navbar2 settings: */
.navbar2 {
    margin:0px;
    max-height:15px;
    border-radius: 0px;
    background: rgba(25, 25, 25, 0.5);
    border-color: transparent;
}
/*navbar2 font settings: */
.navbar2 .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.navbar2 .navbar-brand {
    color: white;
}

.navbar li { color: black } 
hr {
    height: 2px;
    background-color: #747784;
}
.navbar1{
    margin:0px;
    border-radius: 0px;
     background: rgba(25, 25, 25, 0.5);
     border-color: transparent;
}
.navbar1 ul {
    font-size: 20px;
    padding-top: 15px;
}

.title-super {
    font-size: 45px;
    font-family: 'Lato',sans-serif;
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-row {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*container content here*/
.contentcontainer {
    height: 100%;
}
.post {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    box-shadow: 10px 10px 5px gray;
    height:100%;
    background: rgba(20, 20, 25, 0.7);
}
/*mail div container settings*/
#postman {
    border: 2px solid gray;
    border-radius: 5px;
    background: rgba(20, 20, 25, 0.7);
    box-shadow: 10px 10px 5px gray;
    padding: 1em;
    margin:1em;
    margin-bottom:20px;
}
.comment {
    margin: 20px 0px 20px 20px;
}

.footer {
    position: absolute;
    
    bottom: 0;
    width: 100%;
/* Set the fixed height of the footer here */
    height: 3em;
    background: rgba(25, 25, 25, 0.2);
}

.footer ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom:0;
    padding: 0;
}

.footer ul li a {
    display: block;
}

.footer a {
    color: black;
}

.footer li a {
    float: right;
    padding: .5em;
}

.footer a:hover {
    color: #fff;
}

@media(max-width: 640px) {
    .title-super {
        font-size: 1.5em;
        padding-bottom: .5em;
    }

    .subtitle {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning*/
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .subtitle {
        font-size: 1em;
        margin-top: .5em;
    }
}

