html {
  position: relative;
  min-height: 100%;
}
body { 
    background: url("https://pixabay.com/static/uploads/photo/2015/05/01/10/26/knitting-748168_960_720.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 1.5em;
    margin-bottom: 4em;

}
/*override bootstrap navbar settings: */
.navbar1 .navbar-nav  li  a:focus, .navbar1 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/*navbar1 settings: */
.navbar1 .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style:bold;
}
/*navbar1 font settings: */
.navbar1 .navbar-brand {
    color: white;
}
.navbar1{
    margin:0px;
    border-radius: 0px;
    background: rgba(50, 90, 230, 0.45);
    border-color: transparent;
}
.navbar1 ul {
    font-size: 20px;
    padding-top: 15px;
}
/*navbar2 settings: */
.navbar2 {
    margin:0px;
    height:15px;
    border-radius: 0px;
    background: rgba(25, 25, 25, 0.3);
    border-color: transparent;
}
/*navbar2 font settings: */
.navbar2 .navbar-nav > li > a {
    color: white;
    font-size: 15px;
    font-style: bold;
}

.navbar2 .navbar-brand {
    color: white;
}

.navbar li { color: black } 
hr {
    height: 2px;
    background-color: #747784;
}
/*#bs-example-navbar-collapse-2 {
    background-color: ;
    
}*/
.title-super {
    font-size: 45px;
    font-family: 'Lato',sans-serif;
    font-weight: 100;
}

.title-row {
    margin-top: 2em;
    margin-bottom: 2em;
}
.landtitle {
    font-size: 50px;
}
.postlanding a {
    color:white;
}
/*override bootstrap buttons for landing page*/
/*lightblue signup button*/
.halfwidth {
    max-width: 50%;
    
}
.btn-primary, .btn-primary:focus  {
    background-color: rgba(71, 90, 233, 0.9);
    background-image: none;
    border-color: rgba(71, 90, 233, 0.86);
    width:100%;
    border-radius:100px;
    margin-top: 1em;
}
.btn-primary:hover {
    background-color: rgba(44, 65, 225, 0.9);
}
/*pink login button*/
.btn-danger, .btn-danger:focus {
    background-color: rgba(212, 65, 132, 0.86);
    background-image: none;
    border-color:  rgba(212, 65, 132, 0.86);
    width:100%;
    border-radius:100px;
    margin-top: 1em;
}
.btn-danger:hover {
    background-color: rgba(220,60, 130, 0.9);
}
.btn-info {
    background-color: rgba(71, 90, 233, 0.9);
    background-image: none;
    border-color: rgba(71, 90, 233, 0.86);
    padding-left: 20.5%;
    padding-right: 20.5%;
    border-radius:100px;
    margin-top: 1em;
}
.btn-info:hover {
    background-color: rgba(44, 65, 225, 0.9);
}
.landrow {
    padding-top: 7em;
    /*padding-bottom: 1em;*/
 
}
/*container content here*/
.contentcontainer {
    margin-top:1em;
}
/*post containers */
.post {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin:1em;
    background: rgba(20, 20, 25, 0.7);
}
.commenta {
    color: #4a58f6;;
}
.posttitle a {
    /*color: #0989f6;*/
    color: #4a58f6;
}
.posttitle a:hover {
    font-size: 1.2em;
    color:  #4150f3;
}
/*mail div container settings*/
#postman {
    border: 2px solid gray;
    border-radius: 5px;
    background: rgba(20, 20, 25, 0.7);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;

    margin-bottom:20px;
}
/*postman body of message: */
textarea {
    color:black;
}
/*not all forms, but i want login and sign up background only to have these settings*/
/*form {
    background: rgba(20, 20, 25, 0.7);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 5px;
}*/
/*color of font on form buttons*/
input, button{
    color:black;
}
#id_postcategory{
    color:black;
}
.comment {
    margin: 20px 0px 20px 20px;
}
.craftimage{
    margin-top: 1em;
    max-width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
/* Set the fixed height of the footer here */
    height: 3em;
    background: rgba(25, 25, 25, 0.2);
}

.footer ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom:0;
    padding: 0;
}

.footer ul li a {
    display: block;
}

.footer a {
    color: black;
}

.footer li a {
    float: right;
    padding: .5em;
}

.footer a:hover {
    color: #fff;
}
.navbar-collapse ul {
    background-color: rgba(50, 90, 230, 0.8);
}

@media(max-width: 640px) {
    .title-super {
        font-size: 1.5em;
        padding-bottom: .5em;
    }

    .subtitle {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning*/
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar1, .navbar-wrapper .navbar2 {
        padding-right: 0;
        padding-left: 0;
    }

    .subtitle {
        font-size: 1em;
        margin-top: .5em;
    }
}

