html {
  position: relative;
  min-height: 100%;
}
body { 
    background: url("https://pixabay.com/static/uploads/photo/2015/05/01/10/26/knitting-748168_960_720.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 2em;
    margin-bottom: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
a {
    color: #1e3ef9;;
}
a:hover, a:focus {
    font-size: 1.05em;
    color:  #080bfb;
}

/*override bootstrap navbar settings: */
.navbar1 .navbar-nav  li  a:focus, .navbar1 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.navbar2 .navbar-nav  li  a:focus, .navbar2 .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/*navbar1 settings: */
.navbar2 .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style:bold;
}
/*navbar1 font settings: */
.navbar2 .navbar-brand, .navbar1{
    color: white;
}

.navbar1{
    margin:0px;
    border-radius: 0px;
    background: rgba(50, 90, 230, 0.45);
    border-color: transparent;
    color:white;
}
.navbar1 ul {
    font-size: 20px;
    padding-top: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    text-decoration: underline;
}


.navbar2{
    margin:0px;
    border-radius: 0px;
    background: rgba(25, 25, 25, 0.3);
    border-color: transparent;
}
.navbar2 ul {
    font-size: 14px;
    padding-top: 0px;
}
 
hr {
    height: 2px;
    background-color: #747784;
}
.glyphicon {
    font-weight: 100;
}

.title-super {
    font-size: 45px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}
.title-super:hover {
    font-size: 45px;
}
.title-super2, .navbar2 ul {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.title-row {
    margin-top: 2em;
    margin-bottom: 2em;
}
.landtitle {
    font-size: 50px;
}
.postlanding a {
    color:white;
}
/*override bootstrap buttons for landing page*/
/*lightblue signup button*/
.fullscreen {
    width:100%;
}
.halfwidth {
    width: 50%;
}
/* wtf..? i must have changed it                */
.twothirds {
    width:75%;
}


.btn-primary, .btn-primary:focus  {
    background-color: rgba(71, 90, 233, 0.9);
    background-image: none;
    border-color: rgba(71, 90, 233, 0.86);
    width:100%;
    border-radius:100px;
    margin-top: 1em;
}
.btn-primary:hover {
    background-color: rgba(44, 65, 225, 0.9);
}
/*pink login button*/
.btn-danger, .btn-danger:focus {
    background-color: rgba(212, 65, 132, 0.86);
    background-image: none;
    border-color:  rgba(212, 65, 132, 0.86);
    width:100%;
    border-radius:100px;
    margin-top: 1em;
}

.btn-danger:hover {
    background-color: rgba(220,60, 130, 0.9);
}

.delete {
    padding-left: 20.5%;
    padding-right:20.5%;
}
.btn-info {
    background-color: rgba(71, 90, 233, 0.9);
    background-image: none;
    border-color: rgba(71, 90, 233, 0.86);
    width:100%;
    border-radius:100px;
    margin-top: 1em;
}
.btn-info:hover {
    background-color: rgba(44, 65, 225, 0.9);
}
.landrow {
    padding-top: 7em;
    /*padding-bottom: 1em;*/
}

/*container content here*/
.contentcontainer {
    margin-top:1em;
}

/*post containers */
/*.post-form*/
.post, .postmini, .postuser  {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin:1em;
    background: rgba(20, 20, 25, 0.7);
    overflow: hidden;
}
.postmini {
     height: 700px;
}
.postuser{
    width:75%;
}

#id_photo, #id_picture {
    color: white;
}
input[type="file"] {
    display: inline-block;
}
.commenta {
    color: #4a58f6;;
}
/*I set as default at the top. to be global. others can be specified with css*/
/*.posttitle > a, .minipost > a {
    color: #1e3ef9;
}
.posttitle > a:hover, .posttitle > a:focus, .postuser > a:hover, .postuser > a:focus {
    font-size: 1.05em;
    color:  #080bfb;
}*/
/*mail div container settings*/
#postman {
    border: 2px solid gray;
    border-radius: 5px;
    background: rgba(20, 20, 25, 0.7);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 1em;

    margin-bottom:20px;
}
/*postman body of message: */
textarea {
    color:black;
}
/* forms ~~~ */

/*color of font on form buttons*/
input, button{
    color:black;
}
#id_postcategory{
    color:black;
}
#id_body {
    width: 100%;
}
.comment {
    margin: 20px 0px 20px 20px;
}
.craftimage{
    max-width: 100%;
    max-height: 100%;
    /*max-width: 400px;*/
}
.imagerow {
    height: 340px;
}
.profileimage{
    max-width: 100%;
    max-height: 100%;
}
.logindiv {
    padding:1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
/* Set the fixed height of the footer here */
    height: 2em;
    background: rgba(25, 25, 25, 0.2);
}

.footer ul {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom:0;
    padding: 0;
}

.footer ul li a {
    display: block;
    font-size: 14px;
    font-weight: 200;
}

.footer a {
    color: black;
}

.footer li a {
    float: right;
    padding: .5em;
}

.footer a:hover {
    color: #fff;
}


@media(max-width: 640px) {
    .title-super {
        font-size: 1.2em;
        padding-bottom: .5em;
    }
    .title-super:hover, .title-super:focus {
        font-size: 1.2em;
    }
    .title-super2:hover, .title-super2:focus {
        font-size: 1em;
    }
    .title-super2 {
        font-size: 1em;
    }
    #bs-example-navbar-collapse-2  {
        background: rgba(20, 20, 25, 0.7);
    }
    .date {
        text-align: left;
    }
    #id_text {
        max-width: 250px;
    }
   
    #id_password1, #id_password2, #id_username, #id_email, #id_location, #id_hobby {
        max-width: 200px;
    }
    .postuser {
        width:100%;
        margin-left:0;
        margin-right: 0;
    }
    .subtitle {
        display: none;
    }
    
    .post, .postmini, .postuser {
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        width:100%;
    }
}

@media (min-width: 768px) {
    /* Navbar positioning*/
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar1, .navbar-wrapper .navbar2 {
        padding-right: 0;
        padding-left: 0;
    }

    .subtitle {
        font-size: 1em;
        margin-top: .5em;
    }

}

